.btn {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
   height: 50px;
}
.row{
  margin-bottom: 40px;
}

#container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#left_div {
  position: absolute;
  top: 0;
  right: 50%;
  left: 0;
  bottom: 0;
  background-color:#EEE;
  border-right: 2px solid black;
}

#right_div {
  position: absolute;
  top: 0;
  right: 0;
  left: 50%;
  bottom: 0;
  background-color:#f9f9f9;
}

#inner_bottom_div {
  position: absolute;
  top: 75%;
  right: 0;
  left: 0;
  bottom: 0;
  background-color:#EEE;
  border-top: 2px solid black;
}
.dropdown-menu{
  width: 100%;
}
